@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding-top: 70px;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    border-radius: 3rem;
    color: white;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    font font-weight: 600;
}
/* header styles */

/* nav-styles */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.brand {
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.nav-items{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3rem;
    padding: 2px 1rem 2px 2px;
    gap: 3rem;
    height: 2rem;
    align-items: center;
}
.nev-hamburger-menu{
    display: none;
}


/* media query for small device */
@media screen and (max-width:576px) {
    .nev-hamburger-menu{
        display: block;
        font-size: 2rem;
        color: white;
    }
    .nav-items{
        display: none;
    }
}